%ul.test-page
  %li=link_to('>> CHECKOUT', checkout_path)
  %li=link_to('>> RETURNINGUSER', returninguser_path)
  %li=link_to('>> MY ACCOUNT', myaccount_path)
  %li=link_to('>> MY PASS', mypasses_path)
  %li=link_to('>> GO WORKOUT!', go_work_out_path)
  %li=link_to('>> FIND A GYM', findgym_path)
  %li=link_to('>> GYM ACCOUNT', gymaccount_path)
  %li=link_to('>> HOME PAGE', index_path)

  %li=link_to('>> MOBILE PAGES', mobile_home_path)




