.row.go-work-out-info
  .row
    .span5.timeline.offset4
      .icon.first.active
      .border.first.active
      .icon.second.active
      .border.second
      .icon.third
  %p.page-title
    GO WORKOUT!
  %small.label-comment Your pass is ready to use!
  %br
  %small.label-comment A confirmation email with a link to your pass has been sent to username@email.com. Open it up on your smart device and Go Workout!
  .row.go-work-out-info-box
    .span13
      .row
        %p.container-title NEXT STEPS
      .row
        .span4.first-item
          .controls.controls-row
            .span1.img-box
              =image_tag('001.jpg')
            .span2.desc-box
              %p STEP ONE
              %label Open up the pass on your smart device.
        .span4.second-item
          .controls.controls-row
            .span1.img-box
              =image_tag('002.jpg')
            .span2.desc-box
              %p STEP TWO
              %label Show the gym's front desk attendant your pass along with a valid government issued ID.
        .span4.third-item
          .controls.controls-row
            .span1.img-box
              =image_tag('003.jpg')
            .span2.desc-box
              %p STEP THREE
              %label After they give you the OK, hit the "Redeem" button and go workout!
